.text-effect {
	animation: tracking-in-expand-fwd 1s ease-out both;
}

 @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.2em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

/* -----  BUTTON BANNER ----- */

.button-effect {
	animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

 @keyframes slide-top {
    0% {
      transform: translateX(500px);
      opacity: 0; 
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }

/* -----  LA BOMBILLA ----- */

.text-focus-in {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) .5s both;
}

.text-focus-out{
  animation: text-focus-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
}

.text-focus-in-2 {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      transform: translateX(500px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      transform: translate(0);
      opacity: 1;
    }
} 

@keyframes text-focus-out {
  0% {
    filter: blur(0px);
    transform: translateX(500px);
    opacity: 1;
  }
  100% {
    filter: blur(12px);
    transform: translate(0);
    opacity: 0;
  }
} 

/* -----  Letter A ----- */

.bounce-a {
	animation: bounce-in-top 1.1s both;
}

 @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

  .slide-in-bottom {
	animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
      filter: blur(15px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      filter: blur(0);
    }
  }

  .slide-in-left {
	animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
      filter: blur(15px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      filter: blur(0);
    }
  }

  .slide-in-right {
	animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
      filter: blur(15px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      filter: blur(0);
    }
  }


  
  
  
  